@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

// font veriabl
$page-font: "Inter", sans-serif;

// color variabe

$primary-color: #100028;
$card-btn-color: #17092c;
$secend-color: #17092c;
$white: #fff;
$dark: black;
$band: #ff6320;
